/*
Im reseting this style for optimal view using Eric Meyer's CSS Reset - http://meyerweb.com/eric/tools/css/reset/
------------------------------------------------------------------ */
body, html  { height: 100%; }
html, body, div, span, applet, object, iframe,
/*h1, h2, h3, h4, h5, h6,*/ p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
:focus { outline: 0; }
del { text-decoration: line-through; }
table {border-spacing: 0; } /* IMPORTANT, I REMOVED border-collapse: collapse; FROM THIS LINE IN ORDER TO MAKE THE OUTER BORDER RADIUS WORK */

/*------------------------------------------------------------------ */

*, *::after, *::before {
    user-select: none;
	-webkit-user-select: none;

	-webkit-app-region: no-drag;
	cursor: default;
}

html {
    height: 100%;
    width: 100%;
  }
  body {
    position:absolute;
    z-index: 10;
    font-family: Helvetica;
    width: 100%;
    align-items: center;
    justify-content: center;
    height: 100%;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }

@media (prefers-color-scheme: dark) {
    body { background: rgb(167, 167, 167);
        background: linear-gradient(175deg, rgba(161,126,126,1) 0%, rgba(29,35,46,1) 70%); color: rgb(179, 179, 179); }
    .fullwindow { background: #212836; color: rgb(179, 179, 179); }
    .box { background-color: #161a20; }
    .ball { transform: translatex(100%); }
    .footer { color: rgb(15, 14, 14); }
    #statusicon { filter:brightness(0%); }
    .fg-1 { color:rgb(170, 164, 164); }
    .topview { 
        background: rgb(161,126,126);
background: linear-gradient(175deg, rgba(161,126,126,1) 0%, rgba(29,35,46,1) 70%);
    }
    .myinfo table { color: rgb(105, 105, 105); background-color: #1d232e; }
    .bottomview table { background-color: rgba(161,126,126,1) }
    .placeholdertree { border: 2px solid #1b1f27; }
    .placeholdermain { border: 2px solid #1b1f27; }
    .preferencescontent { color: rgb(15, 14, 14); background: rgb(161,126,126);
        background: linear-gradient(175deg, rgba(161,126,126,1) 0%, rgba(29,35,46,1) 70%); }
    .button--isi {
        color: #585858;
        background-color: #1d2129;
    }
    .highlight { color: rgb(141, 93, 255); }
    .highlight.icon { color: #006400 }
    .menuitem { color:rgb(36, 32, 32); }
    .menusegment { background-color: #212836; }
    .menusegmentinfo { background-color: #212836; }
    .status--info { background-color: #212836; color:rgb(230, 230, 230) }
    #redjoustmode { color: rgb(255, 255, 255); }
    #redjousttarget { color: rgb(255, 255, 255); }
    .defaulttext h1 { color: rgb(190, 190, 190); }
    .defaulttext h3 { color: rgb(139, 139, 139); }
    .defaulttext h3 strong { color:#ffffff; }
  }
  
  @media (prefers-color-scheme: light) {
    body { background: rgb(255,255,255);
        background: linear-gradient(175deg, rgba(255,255,255,1) 0%, rgba(142,142,142,1) 70%); color: rgb(41, 41, 41); }
    .fullwindow { background: #ffffff; color: rgb(41, 41, 41); }
    .box { background-color:#585858; }
    .ball { transform: translatex(0%); }
    .footer { color: rgb(36, 32, 32); }
    .fg-1 { color:rgb(44, 43, 43); }
    .topview { background: rgb(255,255,255);
        background: linear-gradient(175deg, rgba(255,255,255,1) 0%, rgba(142,142,142,1) 70%); }
    .myinfo table { color: rgb(36, 32, 32); background-color: #a3a3a3; }
    .bottomview table { background-color: #E7E9EB; color: #1d2129;}
    .placeholdertree { border: 2px solid rgb(235, 229, 232); }
    .placeholdermain { border: 2px solid rgb(235, 229, 232); }
    .preferencescontent { color: rgb(36, 32, 32); background-color: #E7E9EB; }
    .highlight { color: rgb(251, 249, 255); }
    .highlight.icon { color: #006400; }
    .menuitem { color:rgb(36, 32, 32); }
    .menusegment { background-color: #b3b4b4; }
    .menusegmentinfo { background-color: #b3b4b4; }
    .status--info { background-color: #b3b4b4; color:rgb(36, 32, 32) }
    #redjoustmode { color: rgb(255, 255, 255); }
    #redjousttarget { color: rgb(255, 255, 255); }
    .defaulttext h1 { color: rgb(61, 61, 61); }
    .defaulttext h3 { color: rgb(41, 41, 41); }
    .defaulttext h3 strong { color:#ffffff; }
  }

#username {
    display: inline-block;
    width: 200px;
}
#cpu {
    display: inline-block;
}
#mem {
    display: inline-block;
}
#total-mem {
    display: inline-block;
}

.fg-1 {
    font-weight: 300;
}

.statusbarfields {
    float: left;
    padding-left: 2px;
    padding-right: 2px;
}

#statusicon {
    width: 20px;
    height: 20px;
}

.statusicon--idle {
    background-image: url("../icons/menu/set1/idle.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.statusicon--busy {
    background-image: url("../icons/menu/set1/working.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.statusicon--error {
    background-image: url("../icons/menu/set1/error.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.statusicon--warning {
    background-image: url("../icons/menu/set1/warning.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.statusicon--done {
    background-image: url("../icons/menu/set1/done.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.statusicon--pizza {
    background-image: url("../icons/menu/set1/pizza.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: spin 3s linear infinite;
}
.statusicon--donut {
    background-image: url("../icons/menu/set1/donut.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    animation: spin 3s linear infinite;
}
.statusicon--info {
    background-image: url("../icons/menu/set1/info.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

#statusmessage {
    width: 500px;
    margin-left: 10px;
    margin-top: 2px;
}



.boxborder { box-sizing: border-box; }
.topview {
    position:absolute;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    min-width: 900px;
    padding-right: 10px;
}
.treeview {
    float: left;
    width: 280px;
    height: 100%;
    padding-left: 0px;
    padding-top: 100px;
    padding-bottom: 65px;
}
.mainview {
    padding: 5px;
    height: 100%;
    width: 100%;
    padding-right: 40px;
    padding-top: 100px;
    padding-left: 295px;
    padding-bottom: 68px;
}
.placeholdertree {
    background-color: #a3a3a30c;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding-top: 5px;
    overflow-y: hidden;
    overflow-x: hidden;
}
.placeholdermain {
    background-color: #a3a3a30c;
    width: 100%;
    height: 100%;
    margin: 10px;
    padding: 4px;
}
.bottomview {
    clear:both;
    position:absolute;
    bottom: 5px;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 100%;
    min-width: 900px;
}
.bottomview table {
    width: 100%;
    padding: 0px;
    padding-left: 15px;
    padding-right: 5px;
    vertical-align: middle;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.footer {
    width: 100%;
    vertical-align: middle;
    text-align: left;
    align-items: left;
    justify-content: left;

}
.myinfo {
    height: 90%;
    width: 380px;
    float: right;
    text-align: right;
    padding-top: 10px;
}
.myinfo table {
    width: 100%;
    padding: 10px;
    border-radius: 10px;

}
.myinfolen { width: 90px; }
.bold { font-weight: bold; }
.logo {
    float: left;
    margin-left: -5px;
    height: 100%;
    width: 500px;
    background-image: url("../redjoust-banner.png");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 45%;
    filter: brightness(90%);
}
.container input[type=checkbox] {
    display: none;
  }
  
  .btn {
    align-self: center;
    margin: 5px 0;
  }
  
  .box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50px;
    height: 25px;
    transition: all 1s ease;
    position: relative;
    border-radius: 30px;
    cursor: pointer;
  }
  .box .ball {
    width: 20px;
    height: 20px;
    background-color: rgb(150, 150, 150);
    transition: all 1s ease;
    position: absolute;
    border-radius: 50%;
    border: 2px solid #3d3f42;
  }
  .box .scenary {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    transition: all 1s ease;
    padding: 4px 6px 1px 6px;
  }
  .box .scenary svg {
    width: 14px;
  }
.flex {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}
.lockscreen {
    position: fixed;
    display: none;
    top: 0px !important;
    left: 0px;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000e0;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;boxborder
    position: fixed;
    display: none;
    top: 0px !important;
    left: 0px;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: #000000e0;
}
.fullwindow {
    position: fixed;
    display: none;
    top: 0px !important;
    left: 0px;
    z-index: 2000;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.preferencescontent {
    width: 80%;
    height: 80%;
    border-radius: 10px;
    margin: auto;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    position: fixed;
    padding-right: 150px;
}
.innerpage {
    width: 97%;
    height: 97%;
    border: 1px solid rgb(129, 129, 129);

    background-color: #343536;
}
#preflogo {
    position: absolute;
    top: 15px;
    right: 32px;
    height: 100px;
    width: 100px;
    background-image: url("../redjoust-icon.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#prefclose {
    position: absolute;
    bottom: 3px;
    right: 3px;

}
#prefsave {
    position: absolute;
    bottom: 50px;
    right: -7px;
}
.lockscreentext {
    color:rgb(141, 141, 141);
    width: 500px;
    height: 190px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    position: fixed;
}
.spinnerplaceholder {
    width: 40px;
    height: 40px;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    position: fixed;
}
.icondefault {
    width: 140px;
    height: 140px;
    background-image: url("../icons/web/favicon-32x32.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.iconlock {
    width: 140px;
    height: 140px;
    background-image: url("../images/privacyicon.webp");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}
.spinner {
    border: 5px solid rgba(0, 0, 0, 0.384);
    border-radius: 50%;
    border-top: 5px solid #cc0000;
    width: 40px;
    height: 40px;
    -webkit-animation: spin 1s linear infinite;
    /* Safari */
    animation: spin 1s linear infinite;
    margin: auto;
    left: 0;
    right: 0;
    top: 0px;
    bottom: 0;
    position: fixed;
}
.border {
    border: 1px solid rgb(43, 43, 43);
}
/* Safari */
@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
.fill { width: 100%; }
.fill--fancy { width: calc(100% - 40px); }
.fill--fix { width: calc(100% - 25px); }
.fill--90 { width: 90%; }
.fill--60 { width: 50%; }
.fill--50 { width: 50%; }
.fill--size1 { width: 600px; }
.centerbox {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 99%;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}
.defaulttext {
    align-items: center;
    justify-content: center;
    overflow-y: hidden; /* Hide vertical scrollbar */
    overflow-x: hidden; /* Hide horizontal scrollbar */
}

.defaulttext .imgmiddle {
    display: inline-block;
    padding-bottom: 14px;
    padding-right: 10px;
    vertical-align: bottom;
}

.defaulttext h1 {
    display: inline-block;
    vertical-align:top;
}
.defaulttext h3 {
    display: block;
}

.pages {
    display: none;
    width: 100%;
    height: 100%;
}

.pad--small { padding: 2px; }
.centercontent { display: block; text-align: center; align-items: center; align-content: center; }
.centercontent td { padding-right: 20px; }
.item { display: block; text-align: center; margin: auto; }
.spacer { padding-right: 10px; }
.debug { border: 2px solid blue; }
.debug * { border: 1px solid yellow; }

fieldset { padding-top: 5px; padding-bottom: 5px; }
legend { font-weight: bold; text-align: center; }

.prefBorder { margin: 10px; width: calc(100% - 25px); height: calc(100% - 40px); }

#prefFile {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    color: rgb(214, 214, 214);
}
#prefSettings {
    resize: none;
    width: 100%;
    height: 100%;
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    color: black;
}

.menusegment { display: none; margin-top: 5px; }
.menusegmentinfo { padding-left: 10px; padding-right: 10px; padding-top: 4px; border-radius: 15px; }

.menuitem {
    width: 100%;
    background-color: #858585;
    padding-top: 1px;
    padding-left: 20px;
    padding-bottom: 1px;
    color:rgb(44, 43, 43);
    font-weight: bold;
    cursor: pointer;
}

.menuitem.status--done:hover { color: white; }
.menuitem.status--info:hover { color: white; }

@keyframes backgroundColorPalette {
    0% {
      background-color: #d9ff00;
    }
    25% {
      background-color: #dcff15;
    }
    50% {
      background-color: #e1ff36;
    }
    75% {
      background-color: #e6ff59;
    }
    100% {
      background-color: #eeff8e;
    }
  }
@keyframes load{
0%{
    left: -100%;
}
100%{
    left: 100%;
}
}
@-webkit-keyframes spinX
{  
0%   {-webkit-transform: rotateX(0deg); -webkit-transform-origin: 0% 50% 0;}  
100% {-webkit-transform: rotateX(360deg); -webkit-transform-origin: 0% 50% 0;}  
}
@keyframes spinX
{  
0%   {transform: rotateX(0deg); transform-origin: 0% 50% 0;}  
100% {transform: rotateX(360deg); transform-origin: 0% 50% 0;}  
}
.item--external {
    background-image: url("../icons/menu/set1/link.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 18px;
    background-blend-mode: multiply;
}
.item--passive {
    display: none;
    background-image: url("../icons/menu/set1/mode.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 18px;
    background-blend-mode: multiply;
}
.item--active {
    display: none;
    background-image: url("../icons/menu/set1/connect.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 18px;
    background-blend-mode: multiply;
}
.item--redteam {
    display: none;
    background-image: url("../icons/menu/set1/error.png");
    background-position: left;
    background-repeat: no-repeat;
    background-size: 18px;
    background-blend-mode: multiply;
}

.status--disabled { filter: opacity(30%); }

.status--ready {
    background-color: rgb(255, 255, 97);
}
.status--working {
    animation-name: spinX;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
.status--done {
    background-color: rgb(32, 122, 32);
}
#inputTarget {
    border-radius: 25px;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    height: 50px;
    font-size: 35px;
}

.targetlistcontainer {
    padding-left: 50px;
}
.targetlistcontainer p {
    padding-bottom: 5px;
}
.targetlist {
    list-style-type: square;
    list-style-position: inside;
}


.ui-widget-overlay {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.ui-accordion .ui-accordion-header {
	display: block;
	cursor: pointer;
	position: relative;
	margin: 2px 0 0 0;
	padding: .5em .5em .5em .7em;
	font-size: 100%;
}
.ui-accordion .ui-accordion-content {
	padding: 1em 2.2em;
	border-top: 0;
	overflow: auto;
}
.ui-autocomplete {
    position: absolute;
    top: 0;
	left: 0;
	cursor: default;
    max-height: 280px;
    overflow-y: auto;   /* prevent horizontal scrollbar */
    overflow-x: hidden; /* add padding to account for vertical scrollbar */
    z-index:1000 !important;
    border: 1px solid rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}
.ui-menu {
	list-style: none;
	padding: 0;
	margin: 0;
	display: block;
	outline: 0;
}
.ui-menu .ui-menu {
	position: absolute;
}
.ui-menu .ui-menu-item {
	margin: 0;
    font-size: 30px;
    font-weight: bold;
	cursor: pointer;
	/* support: IE10, see #8844 */
	list-style-image: url("../images/blank.gif");
}
.ui-menu .ui-menu-item-wrapper {
	position: relative;
	padding: 3px 1em 3px .4em;
    color: rgb(34, 34, 34);
}
.ui-menu .ui-menu-divider {
	margin: 5px 0;
	height: 0;
	font-size: 0;
	line-height: 0;
	border-width: 1px 0 0 0;
}
.ui-menu .ui-state-focus,
.ui-menu .ui-state-active {
    background-color: rgb(197, 197, 197);
    color: rgb(27, 27, 27);
}
.ui-selectmenu-menu {
	padding: 0;
	margin: 0;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.ui-selectmenu-menu .ui-menu {
	overflow: auto;
	overflow-x: hidden;
	padding-bottom: 1px;
}

.toolcontainter {
    background-color: #3d3f42;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(85, 85, 85);
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    color: rgb(218, 218, 218);
    padding: 5px;
}

.itemcontainter {
    background-color: #3d3f42;
    height: 100%;
    width: 100%;
    border: 1px solid rgb(85, 85, 85);
    overflow-y: hidden;
    overflow-x: hidden;
    box-sizing: border-box;
    color: rgb(218, 218, 218);
    padding: 5px;
}